appdirs==1.4.2
cycler==0.10.0
decorator==4.0.11
ipython==5.3.0
ipython-genutils==0.2.0
isc==2.0
louis==3.0.0
matplotlib==2.0.0
numpy==1.12.1
packaging==16.8
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
ptyprocess==0.5.1
Pygments==2.2.0
pygobject==3.22.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
pyxdg==0.25
scipy==0.19.0
simplegeneric==0.8.1
simplejson==3.10.0
six==1.10.0
team==1.0
termcolor==1.1.0
traitlets==4.3.2
wcwidth==0.1.7
